.logoutLblPos {
    position: fixed;
    right: 40px;
    top: 40px;
}

.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
}

.msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
}

.localization{
    position: fixed;
    right: 50px;
    top: 70px;
}

#resetButton{
    position: fixed;
    right: 52.2%;
    top: 12.18%;
}

#menu-v li, #menu-v a {
    zoom: 1;
}

#menu-v, #menu-v ul {
    width: 180px;
    border: 1px solid #ccc;
    border-top: none;
    position: relative;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 9;
}

#menu-v li a {
    font: normal 12px Arial;
    border-top: 1px solid #ccc;
    display: block;
    color: black;
    text-decoration: none;
    line-height: 26px;
    padding-left: 26px;
}

#menu-v li:hover {
    background: grey;
    width: 100%;
    display: block;
    text-decoration: none;
}

#menu-v ul li a {
    line-height: 30px;
}

#menu-v li ul {
    position: absolute;
    width: 200px;
    visibility: hidden;
}

#news-container, #tags-form, #authors-form ,#creation-form{
    position: absolute;
    width: 65%;
    height: 70%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#filter-form {
    position: absolute;
    width: 40%;
    height: 80%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

a.previous_link {
    position: fixed;
    left: 30px;
    bottom: 30px;

}

a.next_link {
    position: fixed;
    right: 30px;
    bottom: 50px;
}

.pagination li {
    display:inline-block;
    padding:5px;
}
